<h1 mat-dialog-title >{{data.tittle}} </h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button  (click)="onNoClick()" [mat-dialog-close]="{okClick:false}">Cancle</button>
  <button mat-button [disabled]="name==''|| description==''" color="primary"  [mat-dialog-close]="{name,description,okClick:true}" cdkFocusInitial>Ok</button>
</div>
